* {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: Roboto;
    scr: url("///fonts/Roboto.ttf");
}

@font-face {
    font-family: Roboto;
    scr: url("///fonts/Robotobold.ttf");
    font-weight: bold;
}

body {
    font-family: Roboto, sans-serif;
}

/*Шапка сайта*/
.header {
    border-bottom: 1px solid #e5e5;
    padding: 25px 0px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header .container {
    display: flex;
    align-items: center-;
}

.logo img {
    vertical-align: bottom;
}

.menu {
    margin-left: 244px;
}

.menu ul {
    display: flex;
    list-style: none;
}

.menu-item {
    margin-right: 115px;
}

.menu-item a {
    font-size: 15px;
    color: #030305;
    text-decoration: none;
}

.menu-item a:hover {
    border-bottom: 2px solid #030305;
}

/*Первая секция*/

.main {
    background-image: url(../img/цветы.jpg);
    background-position: center;
    background-size: cover;
    padding: 104px 0 154px 0;
}

.we {   
    background-color: #f6cfd8;
    transition: background-color 4s ease-in-out;
}

.we:hover {
  background-color: rgb(255, 255, 255);
}

.main-info {
    max-width: 855px;
}

.main-title {
    font-weight: bold;
    font-size: 75px;
    line-height: 110px;
    color: #030305;
    margin-bottom: 40px;
}

.main-text {
    max-width: 502px;
    font-size: 16px;
    line-height: 130%;
    color: #030305;
    margin-bottom: 40px;
}

/*Вторая секция*/

.we {
    padding: 100px 0;
}

.sub-title {
    font-weight: bold;
    font-size: 60px;
    line-height: 70px;
    color: #030305;
}

.we-items {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    /*border: 2px solid #030305;*/
    justify-content: space-between;
}

.we-item {
    max-width: 384px;
    text-align: center;
    margin-top: 40px;
    /*border: 2px solid #030305;*/
}
.we-item-image:hover img {
    transform: scale(1.1);
}

.we-item-image img {
    vertical-align: bottom;
    transition: all .6s;
    width: 100%; height: auto; 
}

.we-item-title {
    color: #030305;
    font-weight: bold;
    font-size: 24px;
    padding: 15px 0 17px 0;
    text-align: center;
    letter-spacing: 0.02em;
    line-height: 150%;
}

.we-item-action {
    margin-top: 13px;
}

.we-others {
    display: flex;
    justify-content: space-between;
    max-width: 360px;
    margin: 0 auto;
    margin-top: 17px;
}

.we-more {
    width: 110px;
}


.podvalchek {
    margin-bottom: 30px;
    text-align: center;
    width: 100%; height: auto; 
}